/**
 * Review results.
 */
.trevi-match {
  display: inline-block;
}
.trevi-comment {
  cursor: help;
}
.trevi-error {
  border-bottom: 1px dotted red;
}
.trevi-gone {
  background-color: #fdd;
  color: #666;
  text-decoration: line-through;
}
.trevi-new {
  background-color: #dfd;
}
#trevi-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  box-shadow: 0 0 0.5em #ccc;
  -moz-box-shadow: 0 0 0.5em #ccc;
  -webkit-box-shadow: 0 0 0.5em #ccc;
  color: #555;
  margin-top: 1.5em;
  padding: 0.5em;
  max-width: 500px;
  position: absolute;
}
#trevi-tooltip p {
  margin: 0;
}
#trevi-tooltip em,
#trevi-tooltip strong {
  color: #000;
}
.trevi-metadata {
  font-size: 0.8em;
  width: inherit;
}

/**
 * Administration pages.
 */
#trevi-source-list tr {
  background-color: inherit !important;
}
#trevi-source-list .trevi-source-list-title {
  padding-left: 2em;
}